body {
  background-color: #eaf8f8;
}

test-grandparent,
test-parent,
.jasmine_html-reporter {
  padding: 2px;
  margin: 2px;
  display: block;
  border: 1px solid darkslategrey;
  border-radius: 3px;
}

test-grandparent {
  border: 0px none;
}

test-child,
test-grandchild,
test-greatgrandchild {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border: 1px solid darkslategray; 
}

.jasmine_html-reporter {
  background-color: transparent;
  display: block;
  clear: both;
}
/*# sourceMappingURL=GrandParent.css.map */
