body {
  background-color: #eaf8f8;
}

#twobirds-svg {
	position:fixed;
	top:10px;
	right:10px;
	z-index:-1;
}

test-family-grandparent,
test-family-parent,
test-family-parent *,
.jasmine_html-reporter {
  padding: 2px;
  margin: 2px;
  display: block;
  border: 1px solid darkslategrey;
  border-radius: 3px;
}

test-family-child,
test-family-grandchild,
test-family-greatgrandchild {
  display: inline-block;
}

.jasmine_html-reporter {
  background-color: transparent;
  display: block;
  clear: both;
}
